{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/document.css') }}">
{% endblock %}

{% block body %}

<div class="page">
    <div class="box">

        <h2>Modifier le Document Médical</h2>

        <p style="text-align:center;">
            Document ID : {{ document.id }}<br>
            Patient : {{ document.patient.firstName ?? '-' }} {{ document.patient.lastName ?? '-' }} |
            Médecin : {{ document.doctor.firstName ?? '-' }} {{ document.doctor.lastName ?? '-' }}
        </p>

        {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_row(form.type) }}
            </div>
            <div class="form-group">
                {{ form_row(form.chemin) }}
            </div>
            <div class="form-group">
                {{ form_row(form.taille) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>

            <div style="text-align:center; margin-top:20px;">
                <button type="submit" class="btn-create">💾 Enregistrer</button>
            </div>

        {{ form_end(form) }}

        <div style="margin-top: 15px; text-align: center;">
            <a href="{{ path('pages_dossier_medical') }}">← Retour au Dossier Médical</a>
        </div>

    </div>
</div>

{% endblock %}
