{% extends 'base.html.twig' %}

{% block body %}
<style>
.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 120px; /* espace avant le footer */
}

.box {
    background: #ffffff75;
    padding: 35px;
    border-radius: 10px;
    width: 700px;
    max-width: 95%;
    transform: translateY(40px);
}

.box input,
.box textarea,
.box select {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
}

button {
    width: 100%;
    padding: 12px;
}

.btn-back {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
</style>

<div class="page">
    <div class="box">
        {{ form_start(form) }}
        {{ form_row(form.dateordonnance) }}
        {{ form_row(form.diagnosis) }}
        {{ form_row(form.medicament) }}
        {{ form_row(form.posologie) }}
        {{ form_row(form.notes) }}
        {{ form_row(form.instructions) }}
        {{ form_row(form.rendezVous) }}

        <button>Enregistrer</button>
        {{ form_end(form) }}

        <a href="javascript:history.back()" class="btn-back">
            <- Retour
        </a>
    </div>
</div>
{% endblock %}
